.env

services/*/backup
services/*/logs

# postgres
services/postgres/data

# mariadb
services/mariadb/data

# bareos
services/bareos/data/backups/*
!services/bareos/data/backups/.nobackup

services/bareos/data/docker-fd-data/*
!services/bareos/data/docker-fd-data/test-file

# pihole
# Остальная конфигурация pihole бэкапится через pihole teleport
services/pihole/config/*
!services/pihole/config/etc-dnsmasq.d
services/pihole/config/etc-dnsmasq.d/*
!services/pihole/config/etc-dnsmasq.d/02-local-wildcard.conf

# traefik
services/traefik/data/acme

# authelia
services/authelia/config/db.sqlite3
services/authelia/config/users_database.yml
services/authelia/config/notification.txt
services/authelia/secrets

# gitea
services/gitea/data

# expenses
services/expenses/data

# metabase

services/metabase/data

# calibre
services/calibre-web/data

# scrutiny
services/scrutiny/data
services/scrutiny/config

# photoprism
services/photoprism/data/*
!services/photoprism/data/config
services/photoprism/data/config/*
!services/photoprism/data/config/options.yml
!services/photoprism/data/config/settings.yml

# photoprism_tanya
services/photoprism_tanya/data/*
!services/photoprism_tanya/data/config
services/photoprism_tanya/data/config/*
!services/photoprism_tanya/data/config/options.yml
!services/photoprism_tanya/data/config/settings.yml

# nextcloud
services/nextcloud/data

# redis
services/redis/data

# onlyoffice
services/onlyoffice/log
services/onlyoffice/data

# mirrors
services/mirrors/data

