.env

services/*/backup
services/*/logs

# postgres
services/postgres/data

# bareos
services/bareos/data/backups/*
!services/bareos/data/backups/.nobackup

services/bareos/data/docker-fd-data/*
!services/bareos/data/docker-fd-data/test-file

# pihole
# Остальная конфигурация pihole бэкапится через pihole teleport
services/pihole/config/*
!services/pihole/config/etc-pihole
services/pihole/config/etc-pihole/*
!services/pihole/config/etc-pihole/custom.list

# traefik
services/traefik/data/acme

# authelia

services/authelia/secrets/*
services/authelia/config/db.sqlite3
!services/authelia/secrets/template_*


# gitea
services/gitea/data
